---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroZoom from "../components/HeroZoom.astro";
import VideoStage from "../components/VideoStage.astro";
import MessageLead from "../components/MessageLead.astro";
import InfoCard from "../components/InfoCard.astro";
import PhotoSection from "../components/PhotoSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<BaseLayout>
  <div class="bg-fixed"></div>

  <div class="page">
    <HeroZoom />
    <VideoStage />
    <MessageLead />
    <section class="message2">
      <InfoCard />
      <PhotoSection />
    </section>
    <SiteFooter />
  </div>

  <appear-observer></appear-observer>

  <script>
    import "../scripts/index.ts";
  </script>
</BaseLayout>
