---
import { Image } from "astro:assets";
import { content } from "../data/content";
const { hero } = content;
---

<section class="hero">
  <Image
    class="hero-img"
    src={hero.src}
    alt={hero.alt}
    widths={[640, 1200, 1800, 2400]}
    sizes="100vw"
    format="webp"
    quality={80}
  />
</section>
